{# {% extends 'base.html.twig' %} #}
{% extends 'users/baseUsers.html.twig' %}

{% block title %}Herald{% endblock %}

{% block body %}

<div class="max-w-5xl mx-auto items-stretch flex-column justify-center bg-white/70 h-[82%] ">
    <div class="justify-center pb-4 text-center">     
        <h1 class="text-4xl lg:text-5xl font-bold pt-10" >{{ nonLus|length > 0 ? nonLus|length : 0 }} messages non lus</h1>
    </div>

    <div class="overflow-x-hidden max-h-[500px] lg:max-h-[400px] ml-[20px] mb-10">
        {% for message in nonLus %}
            <a href='{{ path('read_message', {'id': message.id}) }}'>
                <div class=" bg-zinc-50 flex flex-row justify-between text-center rounded-xl drop-shadow-md hover:scale-105 hover:drop-shadow-2xl hover:transform-gpu hover:bg-white bgease-out duration-200 m-1 h-24 lg:h-16 mx-10 ">
                   <img src="{{ asset('img/message.png') }}" class="rounded-l-xl h-24 lg:h-16 w-24 lg:w-16 pl-2">
                    <div class=" md:basis-2/5 font-bold grow my-auto text-xl">{{ message.sujet|u.truncate(40, '...') }}</div>
                    <div class="basis-1/5 md:basis-2/5 grow my-auto hidden md:block text-2xl md:text-xl lg:text-base ">{{ message.contenu|u.truncate(40, '...') }}</div>
                    <div class="basis-1/5 md:basis-1/5 grow my-auto text-xl md:text-xl lg:text-base">{{ message.date|date('d-m-Y') }}</div>
                </div>
            </a>
        {% endfor %}     
    </div>

    <div class="bg-zinc-50 rounded-xl w-5/6 flex carousel shadow-2xl mx-auto h-60 lg:h-40 text-center mb-5 ">
        {% if infoUser is empty %}
            <p>Aucune news à afficher </p>
        {% else %}
            {% for i in 0..infoUser|length - 1 %}
                <div id="slide{{i}}" class=" rounded-xl carousel-item relative w-full text-center">
                    <div class="flex flex-col w-full">
                        <p class="text-3xl lg:text-xl font-bold text-center pt-1">{{infoUser[i].titre}}</p>
                        <p class="text-base lg:text-xs pb-1">{{infoUser[i].dateShow|date('d-m-Y')}}</p>
                        <p class="text-xl lg:text-base w-3/5 mx-auto">{{infoUser[i].contenu}}</p>
                    </div>   
                    <div class="absolute flex justify-between transform-translate-y-1/2 left-5 right-5  bottom-1/3">
                        <a href="#slide{{i - 1 < 0 ? infoUser|length - 1 : i - 1 }}" class="btn btn-circle bg-emerald-600/50 hover:bg-emerald-600/25 hover:shadow-inner active:scale-50 border-slate-300">❮</a> 
                        <a href="#slide{{i + 1 >= infoUser|length ? 0 : i + 1 }}" class="btn btn-circle bg-emerald-600/50 hover:bg-emerald-600/25 hover:shadow-inner active:scale-50 border-slate-300">❯</a>
                    </div>
                </div> 
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}
