
<div class="navbar bg-base-100">
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden border-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M4 6h16M4 12h8m-8 6h16" /></svg>
            </label>
            <ul tabindex="0" class=" menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-64 ">
                <li>
                    <a class="nav-link text-2xl" href="{{ path('admin_index') }}"><span>Communication</span></a>
                </li>
                <li>
                    <a class="nav-link text-2xl" href="{{ path('index_planning', {'id': app.user.id}) }}"><span>Planning</span></a>
                </li>
                   <li>
                    <a class="nav-link text-2xl" href="{{ path('employes', {'id': app.user.id}) }}"><span>Employés</span></a>
                </li>
                  <li>
                    <a class="nav-link text-2xl" href="{{ path('admin_equipes_index') }}"><span>Equipes</span></a>
                </li>
                  <li>
                    <a class="nav-link text-2xl" href="{{ path('admin_chantiers_index') }}"><span>Chantiers</span></a>
                </li>
                 <li>
                    <a class="nav-link text-2xl" href="{{ path('admin_clients_index') }}"><span>Clients</span></a>
                </li>
                  {# <li>
                    <a class="nav-link text-2xl" href="{{ path('admin_com_index') }}"><span>Communication</span></a>
                </li> #}
            </ul>
        </div>
    </div>

     {% if 'ROLE_ADMIN' in app.user.getRoles() %}
        <a class=" font-bold bg-emerald-600 text-white text-xl px-5 rounded-full hover:border-2 hover:border-emerald-600 hover:bg-white hover:text-emerald-600 duration-150 text-center pb-2" href="{{ path('app_users_index') }}"><span>vers employé</span></a>
    {% endif %}

    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1 max-w-5xl">
            <li>
                <a class="nav-link text-xl" href="{{ path('admin_index') }}"><span>Communication</span></a>
            </li>
            <li>
                <a class="nav-link text-xl" href="{{ path('index_planning', {'id': app.user.id}) }}"><span>Planning</span></a>
            </li>
            <li>
                <a class="nav-link text-xl" href="{{ path('employes', {'id': app.user.id}) }}"><span>Employés</span></a>
            </li>
            <li>
                <a class="nav-link text-xl" href="{{ path('admin_equipes_index') }}"><span>Equipes</span></a>
            </li>
            <li>
                <a class="nav-link text-xl" href="{{ path('admin_chantiers_index') }}"><span>Chantiers</span></a>
            </li>
             <li>
                <a class="nav-link text-xl" href="{{ path('admin_clients_index') }}"><span>Clients</span></a>
            </li>
             {# <li>
                <a class="nav-link text-xl" href="{{ path('admin_com_index') }}"><span>Communication</span></a>
            </li> #}
        </ul>
    </div>
    <div class="navbar-end">
    </div>
</div>
