<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Herald - Administration{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon-16x16.png') }}">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}


        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {# {{render(path('unread', {'id': app.user.id}))}} #}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
    <div  class="h-screen bg-wallpaper bg-cover bg-center bg-no-repeat bg-fixed">
        {% block haut %}
              
            <div class="bg-emerald-600 text-white" >
                <div class="max-w-5xl mx-auto flex flex-row justify-between ">
                    <a href="{{ path('admin_index') }}">
                    <img src="{{ asset('img/heraldW.png') }}" alt="logo Herald" class="h-24 min-[500px]:h-24 lg:h-24  pl-4" >
                        {% if app.user %}
                            <div class="self-center w-48 text-center grid justify-items-center">
                                <span class="text-xl lg:text-xl">Bonjour {{app.user.prenom}} ! </span>
                                <a href="{{ path('app_logout') }}" class="text-2xl lg:text-xl hover:font-bold  text-center duration-200">Se déconnecter</a>
                            </div>
                        {% else %}
                            <div class="self-center w-48 text-center">
                                <a href="{{ path('app_login') }}" class="text-2xl lg:text-xl hover:font-bold  text-center duration-200">Se connecter</a>
                            </div>
                        {% endif %}
                </div>
                
            </div>
               
            {% include '/admin/_adminSideMenu.html.twig' %}
            
        {% endblock %}

        {% block body %}{% endblock %}

          <div class="text-gray text-center text-base">
            <span class="font-bold text-emerald-500">Herald</span> - Site fictif d'exercice -> <a href="mailto:mora.seb.c@gmail.com" class="hover:font-bold ease-in-out duration-200">Me contacter par mail</a> <- 
        </div>
        
    </div>
    </body>
</html>
