{% extends 'users/baseUsers.html.twig' %}

{% block title %}Chantier : {{chantier.nom}}{% endblock %}

{% block body %}

<div class="max-w-5xl mx-auto items-stretch flex flex-column justify-center bg-white/[.75] min-h-[82%] grid content-evenly">
    <div class=" mt-4 overflow-x-hidden h-[670px] lg:h-[600px] w-[90%] lg:w-[900px] justify-center text-center bg-white rounded-2xl shadow-2xl">
        <p class="text-4xl font-bold pt-5 pb-4" >{{ chantier.nom }}</p>
        <p class="text-2xl pb-4" >Localisation : {{ chantier.localisation }}</p>
        <div class="flex flex-row justify-around ">
            <div class="pl-4">
                {% if photoPrinc %}
                    <figure>
                        <a href={{ photoPrinc.lien }} target="_blank">
                            <img src={{ photoPrinc.lien }} height="250" width="250" class="mx-auto h-56">
                        </a>
                        <figcaption class="italic px-8">{{ photoPrinc.description}} </figcaption>
                    </figure>
                {% endif %}
            </div>
            <div class=" flex flex-col grid content-around">
                <p class="text-2xl  ">Client : <span class="font-bold"><a href ="">{{ chantier.fkClient.nom }}</a></span></p>
                <p class="text-xl ">Durée : <br>{{ chantier.dureeSem }} semaine{{chantier.dureeSem > 1 ? "s" : "" }}</p>
                <p class="text-xl ">Debut : {{ chantier.dateDebut|date('d-m-Y') }}</p>
                <p class="text-xl ">Fin : {{ chantier.dateFin|date('d-m-Y') }}</p>
            </div>
        </div>
        <p class="text-2xl pt-2 px-8">Description : <br>{{ chantier.description }}</p>
        <p class="text-2xl pt-2 px-8"><span class="italic">Retour client </span>: {{ chantier.retourClient }}</p>
        <p class="text-2xl pt-2 px-8"><span class="italic">Retour équipe </span>: {{ chantier.retourEquipe }}</p>

        <div class="grid grid-col md:grid-cols-2 mt-4 lg:grid-cols-3 justify-items-center flex items-center">
            {% for photo in photoSec %}
                <figure class="mb-2">
                    <a href={{ photo.lien }} target="_blank">
                        <img src={{ photo.lien }} height="250" width="250">
                    </a>
                    <figcaption>{{ photo.description}}</figcaption>
                </figure>
            {% endfor %}
        </div>
    </div>
    <a class=" text-emerald-600 font-bold text-center" href="{{ path('list_chantiers', {'id': app.user.id}) }}"> -> Retour à mes chantiers <- </a>
</div>

{% endblock %}
