{{form_errors(form)}}

{{ form_start(form) }}

<div class="p-2">
    {{ form_row(form.login) }}
</div>
<div class="p-2">
    {{ form_row(form.roles) }}
</div>
<div class="p-2">
    {{ form_row(form.password) }}
</div>
<div class="p-2">
    {{ form_row(form.nom) }}
</div>
<div class="p-2">
    {{ form_row(form.prenom) }}
</div>
<div class="p-2">
    {{ form_row(form.adresse) }}
</div>
<div class="p-2">
    {{ form_row(form.telephone) }}
</div>
<div class="p-2">
    {{ form_row(form.date_in) }}
</div>
<div class="p-2">
    {{ form_row(form.present) }}
</div>
<div class="p-2">
    {{ form_row(form.fk_equipe) }}
</div>
<div class="p-2">
    {{ form_row(form.fk_status) }}
</div>

    <button class="btn border-2 border-emerald-500 hover:bg-emerald-500 hover:font-bold hover:text-white duration-200">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
